
.js-options-with-images-container{

  .js-options-with-images{
    display: none;
  }

  position: relative;
  min-height: 40px;

  .options-with-images-select{

      position: absolute;
      height: auto;
      width: 100%;

      background-color: #FFFFFF;

      font-family: sans-serif;

      border: 1px solid #F5F5F5;
      border-radius: 3px;
      padding: 0px;
      margin: 0px;

      li{
        list-style: none;
        display: none;
        color: #999;
        padding: 10px;
        text-align: left;
      }

      li:hover{
        background-color: #F7F7F7;
      }

      .active{
        color: #666;
        display: block;
        background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
        background-position: 100% 50%;
        background-repeat: no-repeat;
      }


  }

  .js-options-with-images-open{
    li{
      display: block;
    }
  }


}
